.main{
    text-align: center;
    padding: 200px;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px;
}
#counter{
    font-size: 30px;
    margin-bottom: 20px;
}