body{
    background: rgb(219, 219, 150);
    table{
        border-collapse: collapse;
        width: 80%;
        div{
            padding: top 5px;;
        }
        table.list{
            width: 100%;  
        }
        
    } 
}
td,th{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}
input[type=text],input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(218, 207, 207);
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 25%;
    height: 30px;
    border-radius: 10%;
    font-size: 90%;
    background: rgb(124, 248, 248);   
    
}
div.form-action-buttons
{
    text-align: right;
    padding-right:0ch;
}

